
<div class="brand">EnqueteWeb</div>
<div class="address-bar">Engenharia de Software - 2015.2 - UFRJ</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">Business Casual</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Atualizar dados
                        <ul class="dropdown-menu">
                            <li><a href="atualizaDados.html"> Alterar nome </a></li>
                            <li><a href="atualizaDados.html"> Alterar e-mail </a></li>
                            <li><a href="atualizaDados.html"> Alterar senha </a></li>
                        </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gerenciar Enquete
                        <ul class="dropdown-menu">
                            <li><a href="gerenciarEnquete.html" ng-click="selected()"> Desativar enquete </a></li>
                            <li><a href="gerenciarEnquete.html"> Reativar enquete </a></li>
                            <li><a href="gerenciarEnquete.html"> Cancelar enquete </a></li>
                            <li><a href="gerenciarEnquete.html"> Adicionar imagem</a></li>
                        </ul>
                </li>
                <li>
                    <a href="enquete.html">Criar enquete</a>
                </li>
                <li>
                    <div ng-app="myApp" ng-controller="appCtrl">
                        <a ng-click="logout()">Logout</a>
                    </div>                        
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    <div class="row">            
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Desativar enquete</strong>
                </h2>
                <hr>
                <div class="intro-text text-center">                    
                    <form>
                        <h5>Deseja desativar a atual enquete ativa?</h5>
                        <br>
                        <h4>Nome da enquete ativa</h4>
                        <label>Sim</label>
                        <input type="radio" ng-model="resposta.valor" value="sim"> ||
                        <label>Não</label>
                        <input type="radio" ng-model="resposta.valor" value="nao">
                        </br></br>                                                     
                        <button ng-click="enviar()">Enviar</button>                                      
                    </form>    
                </div>                                                                        
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4><small>UFRJ - Engenharia de Software 2015.2
                    <br>
                 <b>Grupo I : </b>Diego Cruz, Patrícia Kovaleski, Victor Cardoso e Vinícius Campos </small></h4>
            </div>
        </div>
    </div>
</footer>