<div class="brand">EnqueteWeb</div>
<div class="address-bar">Engenharia de Software - 2015.2 - UFRJ</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">Business Casual</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/info">Informações</a>
                </li>
                <li>
                    <a href="/contato">Contato</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-6 col-lg-offset-3 text-center">                    
                <div>
                    <h2 class="brand-before">
                    <small>Para participar,<a href="" ng-click="showme=false">realize seu login</a>.<br>Não é cadastrado? <a href="" ng-click="showme=true">Realize seu cadastro!</a> 
                    </h2>                                                
                    <div class="wrapper">
                        <div ng-hide="showme">                                
                            <h3> Login</h3>
                            <div>
                                <form novalidate name="formulario" ng-submit="autenticar()">
                                    <div class="form-group">
                                        <label>Usuário:</label>                                
                                        <input type="text"class="form-control" name="login" ng-model="loginUser.login" required>
                                        <span ng-show="formulario.$submitted && formulario.login.$error.required" class="form-control alert-danger">
                                            Login obrigatório
                                        </span>                                    
                                    </div>
                                    <div class="form-group">
                                        <label>Senha:</label>
                                        <br>
                                        <input class="form-control" type="password" name="senha" ng-model="loginUser.senha" required>
                                        <span ng-show="formulario.$submitted && formulario.senha.$error.required" class="form-control alert-danger">
                                            Senha obrigatória
                                        </span>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Entrar</button>
                                    <img src="img/facebook.png" ng-click="facebook()"/>
                                    <br>                                    
                                    Esqueci minha senha                            
                                </form> 
                            </div>
                        </div>                            
                        <div ng-show="showme">
                            <h3>Formulário de cadastro</h3>
                             <div>
                                <form name="formularioc" novalidate ng-submit="registraUsuario()">
                                    <div class="form-group">
                                        <label>Nome Completo:</label>
                                        <input class="form-control" name="nome" ng-model="newUser.nome" required>
                                        <span ng-show="formularioc.$submitted && formularioc.nome.$error.required" class="form-control alert-danger">
                                            Nome obrigatório
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label>Login:</label>
                                        <input class="form-control" name="login" ng-model="newUser.login" required ng-maxlength="20" ng-minlength="8">                                        
                                        <span ng-show="formularioc.$submitted && formularioc.login.$error.manlength" class="form-control alert-danger">
                                            O login deve ter no máximo 25 caracteres
                                        </span>
                                        <span ng-show="formularioc.$submitted && formularioc.login.$error.minlength" class="form-control alert-danger">
                                            O login deve ter no mínimo 8 caracteres
                                        </span>
                                    </div>     
                                    <div class="form-group">                      
                                        <label>E-mail:</label>
                                        <input class="form-control" name="email" ng-model="newUser.email" required>
                                        <span ng-show="formularioc.$submitted && formularioc.email.$error.required" class="form-control alert-danger">
                                            E-mail obrigatório
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label>CPF:</label>
                                        <input class="form-control" name="cpf" ng-model="newUser.cpf" required ng-maxlength="11" ng-minlength="11">
                                        <span ng-show="formularioc.$submitted && formularioc.cpf.$error.maxlength" class="form-control alert-danger">
                                            O cpf deve conter 11 digitos
                                        </span>
                                        <span ng-show="formularioc.$submitted && formularioc.cpf.$error.minlength" class="form-control alert-danger">
                                            O cpf deve conter 11 digitos
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label>Senha:</label>
                                        <input class="form-control" type="password"name="senha" ng-model="newUser.senha" required ng-maxlength="20" ng-minlength="8">                                        
                                        <span ng-show="formularioc.$submitted && formularioc.senha.$error.maxlength" class="form-control alert-danger">
                                            A senha deve conter no máximo 20 caracteres
                                        </span>
                                        <span ng-show="formularioc.$submitted && formularioc.senha.$error.minlength" class="form-control alert-danger">
                                            A senha deve conter no mínimo 8 caracteres
                                        </span>
                                    </div>
                                    <button ng-type="submit" class="btn btn-primary" ng-disabled="formularioc.$invalid">Registrar</button>                                                    
                                </form>
                                <div ng-show="mensagemCadastro.length" class="alert alert-sucess">
                                    {{mensagemCadastro}}
                                </div>                         
                            </div>
                        </div>
                    </div>                                            
                <hr class="tagline-divider">                                        
            </div>
        </div>
    </div>
<!-- /.container -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4><small>UFRJ - Engenharia de Software 2015.2
                    <br>
                 <b>Grupo I : </b>Diego Cruz, Patrícia Kovaleski, Victor Cardoso e Vinícius Campos </small></h4>
            </div>
        </div>
    </div>
</footer>
